main {
    #startPage {
        background: no-repeat center url("/imgs/portfolio.png");
        max-width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        color: $header-color;
        h1 {
            font-family: $header-font;
            margin: 0px;
        }

        .secondTitle {
            text-align: center;
            text-decoration: underline;
            font-family: $text-font;
            margin: 0px;
            padding: 5px;
        }
    
    }
}