nav {
    background-color: $bg-color;
    
    ul {
        list-style: none;
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
        text-align: center;
        width: 100%;

        li {
            text-transform: uppercase;
            font-family: $text-font;
            font-size: 1.1em;
            color: $text-color;
            font-weight: bolder;
            
        }
    }
}