/** 
*Table of content
*
*01-Vendor-All vendor related contents.
*02-Sections-Settings for colors, padding, typography sizes etc.
*03-Layout-Generic layout for mobile, desktop and print.
*/

$text-font: 'Oswald', sans-serif;
$header-font: 'Satisfy', cursive;
$text-color: #dbc0a1;
$header-color: #797979e8;
$bg-color: #ffffff;
$bg2-color: #E5C8F9;


@import "./scss/layout/base";
@import "./scss/vendor/normalize";
@import "./scss/sections/nav";
@import "./scss/sections/main";
@import "./scss/sections/footer";

@media screen and (min-width: 768px) {
  @import "./scss/layout/desktop";}