/** 
*Table of content
*
*01-Vendor-All vendor related contents.
*02-Sections-Settings for colors, padding, typography sizes etc.
*03-Layout-Generic layout for mobile, desktop and print.
*/

$text-font: 'poppins', sans-serif;
$header-font: 'annabelle-jf', sans-serif;
$text-color: #e4ceb3;
$header-color: #e2e2e2e8;
$bg-color: rgba(252, 252, 252, 0.863);

@import './scss/layout/base';
@import './scss/vendor/normalize';

@media screen and (min-width: 768px) {
  @import './scss/layout/desktop';
}
